<div class="container">
  <mat-card style="background-color: rgba(239, 239, 239, 0.993);">
    <button mat-button routerLink="/">	<mat-icon color="primary">keyboard_backspace</mat-icon></button>
  </mat-card>
  <mat-card>
    <mat-card-content>
    <div class="login-fields">
      <div>
        <mat-card-title style="font-size: 2rem; " >Register</mat-card-title>
      </div>

      <div >

        <mat-form-field class="fields" appearance="outline">
          <mat-label>Enter your full Name</mat-label>
          <input matInput [formControl]="fullName" placeholder="Syed Shahid" autocomplete="off">
          <mat-error *ngIf="fullName.hasError('required')">
            Full Name is <strong>required</strong>
          </mat-error>

        </mat-form-field>
      </div>
      <div >

        <mat-form-field class="fields" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com" autocomplete="off">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>


      <div>

        <mat-form-field class="fields" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input type="password" matInput placeholder="Password" [formControl]="password" autocomplete="off">
          <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
            Minimum password length is 8
          </mat-error>
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>

        <mat-form-field class="fields" appearance="outline">
          <mat-label>Enter your password Again</mat-label>
          <input type="password" matInput placeholder="Repeat Password" [formControl]="repeatPassword" (keyup)="comparePassword()" autocomplete="off">
          <mat-error *ngIf="repeatPassword.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-error class="text-danger" style="margin-top: 0;" *ngIf="registerDisabled && !repeatPassword.hasError('required')">
          Password and repeat password are not same
        </mat-error>
      </div>
      <mat-checkbox class="check-box"  style="font-size: 1rem;">Agree to: <a style="font-weight: 700; font-size: 1rem;" href="#">Terms and Conditions</a></mat-checkbox>
      <button class="btn-login" mat-button color="primary">Register</button>
      <p style="margin: 5vmin;">or enter with:</p>
      <p>
        <img style="margin: 5px;" src="assets/git.png">
        <img style="margin: 5px;" src="assets/facebook.png">
        <img style="margin: 5px;" src="assets/twiiter.png">
      </p>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
    </mat-card-content>
    <mat-card-actions>


    </mat-card-actions>
  </mat-card>
</div>
