<div class="d-flex">
  <mat-toolbar color="primary">

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span>Slinger</span>
        <span class="example-spacer"></span>
        <a mat-button class="header-links" routerLink="/login"> Login </a>

        <a mat-button class="header-links" routerLink="/smart-table"> Smart Table</a>


          <a mat-button class="header-links" routerLink="register"> Register</a>

  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <hr>

        <a mat-list-item routerLink="register"> Register</a>
        <hr>
        <a mat-list-item routerLink="/login"> Login </a>
        <hr>
        <a mat-list-item routerLink="/smart-table"> Smart Table</a>
        <hr>

        <a mat-list-item href="" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
