<mat-toolbar color="primary">
<mat-toolbar-row>
  <a style="text-decoration: none; color: white;" href="">Slinger</a>
  <span class="example-spacer"></span>
  <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  <a style="text-decoration: none; color: white;" routerLink="/register">Login</a>
  <span class="example-spacer"></span>
  <a style="text-decoration: none; color: white;" routerLink="/smart-table">Smart Table</a>
</mat-toolbar-row>
</mat-toolbar>
