<div class="container">
  <mat-card style="background-color: rgba(239, 239, 239, 0.993);">
    <button mat-button routerLink="/">	<mat-icon color="primary">keyboard_backspace</mat-icon></button>
  </mat-card>
  <mat-card>
    <mat-card-content>
    <div class="login-fields">
      <div>
        <mat-card-title style="font-size: 2rem; " >Login</mat-card-title>
      </div>
      <div>
        <mat-card-subtitle>Hello! Log  in with your email!</mat-card-subtitle>
      </div>
      <div >

        <mat-form-field class="fields" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div >

      <mat-form-field class="fields" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" placeholder="password" [formControl]="password" required>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      </div>
      <div class="lines">
        <mat-checkbox class="check-box">Remember me!</mat-checkbox>
        <a style="text-decoration: none; color: red;" href="#"><p style="color:red">Forgot password</p></a>

      </div>




      <button class="btn-login" mat-button color="primary" routerLink="/smart-table">Login</button>
      <p style="margin: 5vmin;">or enter with:</p>
      <p>
        <img style="margin: 5px;" src="assets/git.png">
        <img style="margin: 5px;" src="assets/facebook.png">
        <img style="margin: 5px;" src="assets/twiiter.png">
      </p>
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </div>
    </mat-card-content>
    <mat-card-actions>


    </mat-card-actions>
  </mat-card>
</div>
