<mat-drawer-container class="container">

  <mat-drawer class="drawer1" mode="side" opened>
    <h2 class="text-light">HMA</h2>
    <br><br><br>
    <mat-icon>dashboard</mat-icon>
    <br>
    <a class="text-light" routerLink="#">Dashboard</a>
    <br><br>
    <mat-icon> person_pin</mat-icon>
    <br>
    <a class="text-light" routerLink="#">Clients</a>
    <br><br>
    <mat-icon>description</mat-icon>
    <br>
    <a class="text-light" routerLink="/documents">Documents</a>
    <br><br>
    <mat-icon>work_outline</mat-icon>
    <br>
    <a class="text-light" routerLink="#">Tasks</a>
    <br><br>
    <mat-icon>payment</mat-icon>
    <br>
    <a class="text-light" routerLink="#">payments</a>
  </mat-drawer>
</mat-drawer-container>
