/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto,  sans-serif; font-size: medium; padding: 0;}
p{
  font-size: 1rem;
  font-weight: 500;
  color: darkgrey;
}
.container{
  margin: 5vmin;
  height: 100vh;

}
.container-two{
  margin: 5vmin;
  height: max-content;
 overflow: scroll;
  border: 1px solid black;

}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.login-fields{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fields{
  width: 35vw;
}
.btn-login{
  width: 35vw;
  color: rgba(65, 45, 45, 0.993);
  background-color: rgba(239, 239, 239, 0.993) ;
  border: none;
  height: 5vh;
  cursor: pointer;
  text-align: center;
  initial-value: "Login";
}
.btn-login:hover{
  background-color: midnightblue;
  color: white;

}
.check-box {
 width: 35vmax;
 margin-bottom: 5vmin;
}
.lines{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-between;
}
.top-card{
  height: 5vh;
  background-color: rgba(239, 239, 239, 0.993) ;
  margin: 0;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.example-spacer {
  flex: 1 1 auto;
}
.header-links{
  color: white;
  text-decoration: none;
  margin-right: 10vw;
}
@media only screen and (max-width: 600px) {
  .mobile{
    text-decoration: none;
  }
  .fields{
    width: 70vw;
  }
  .btn-login{
    width: 70vw;
    color: rgba(65, 45, 45, 0.993);
    background-color: rgba(239, 239, 239, 0.993) ;
    border: none;
    height: 35px;
    cursor: pointer;
    text-align: center;
    initial-value: "Login";
  }
  .btn-login:hover{
    background-color: midnightblue;
    color: white;

  }
  .check-box {
    width: 70vw;
    margin-bottom: 20px;
   }

}

